*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.form_Container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgb(0,0,0,0.6), #3551b5), url("../images/background.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;  
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
   
   
}

.input-group{
    height: 95%;
    margin-bottom: 30px;
    position: relative;

}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: all 0.2s;
}
button{
    padding: 10px 0px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff ;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 14px;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
.raw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.raw .input-group{
    flex-basis: 48%;
}